.app-main { padding-top: 56px; }
@media (min-width: 768px) { .app-main { margin-left: 240px; } }


/* input type=number 에서 우측 화살표 숨겨주는 css */
/* Chrome, Safari, Edge, Opera */
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.no-spinners[type=number] {
  -moz-appearance: textfield;
}

/* src/App.css */
body { margin: 0; }
